.bsp/
.idea/
.git/

project/
target/
schemagenerator-build/

**/.DS_Store
**/application.conf
**/test-data-85-mb.sql
**/sbt.json
**/build.properties
**/play-fork-run.sbt
**/sbt-ui.sbt


**/*.log
**/*.iml